.bx--side-nav__navigation{
  background-color: #262626;
}

.bx--side-nav__link,.bx--side-nav__submenu	,.bx--side-nav__submenu-chevron	,.bx--side-nav__menu-item	,.bx--side-nav__icon	{
  color:white;
}

.bx--header-panel--expanded{
  max-height:6rem;
}